<div class="p-4 bg-white rounded shadow-md w-full max-w-xl mx-auto">
  <h2 class="text-lg text-primary-blue font-semibold mb-4">
    Events for {{ selectedDate || 'No date selected' }}
  </h2>

  <ng-container *ngIf="eventsForDay.length > 0; else noEvents">
    <div *ngFor="let ev of eventsForDay" class="px-3 py-2 rounded pointer-events-auto cursor-pointer flex justify-between items-center bg-blue-100 mb-2"
    (click)="openEventModal.emit(ev); $event.stopPropagation()"
    >
      <div class="flex-1">
        <div class="font-medium">{{ ev.title }}</div>
        <div class="text-xs text-gray-700">
          {{ ev.start }} {{ ev.hstart }} - {{ ev.end }} {{ ev.hend }}
        </div>
      </div>

      <button (click)="onDeleteEvent(ev.id)" 
              class="px-2 py-1 text-sm bg-primary-orange text-white rounded hover:bg-red-600">
        Delete
      </button>
    </div>
  </ng-container>

  <ng-template #noEvents>
    <p class="text-gray-500 text-sm">No events for this day.</p>
  </ng-template>
</div>
