<div class="overflow-hidden relative">
  <div 
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 transition-transform duration-300 ease-out"
    [ngClass]="{
      'translate-x-0': !animating,
      '-translate-x-full': animating && direction === 'prev',
      'translate-x-full': animating && direction === 'next'
    }"
    (transitionend)="animating = false"
  >
    <div *ngFor="let m of months"
         (click)="selectMonth(m)"
         class="border rounded-lg p-2 flex flex-col cursor-pointer hover:shadow-lg transition">

      <h3 class="text-center text-white font-semibold capitalize mb-2 bg-secondary-blue hover:bg-primary-orange">
        {{ getMonthName(m) }}
      </h3>

      <div class="grid grid-cols-7 text-[10px] sm:text-xs text-center text-white gap-1">
        <div *ngFor="let day of ['Su','Mo','Tu','We','Th','Fr','Sa']" class="font-bold">
          {{ day }}
        </div>

        <ng-container *ngFor="let d of getDaysInMonth(m)">
          <div class="p-1 rounded hover:bg-primary-orange border border-transparent hover:border-blue-300">
            {{ d.split('-')[2] }}
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>

