<div class="relative">
    <div class="absolute inset-0 z-10 pointer-events-none">
    <ng-container *ngFor="let span of weekEventSpans()">
      <div class="absolute text-xs px-2 py-1 rounded truncate text-white"
           [ngClass]="span.event.color || 'bg-blue-600'"
           [style.top.px]="span.row * 22 + 70"
           [style.left.%]="(span.colStart / 7) * 100 + 1"
           [style.width.%]="((span.colEnd - span.colStart + 1)/7) * 100 -1.5"
           [style.height.px]="20"
           title="{{ span.event.title }}">
        {{ span.event.title }}
      </div>
    </ng-container>
  </div>
<div class="p-4">
  <!-- Días -->
   <div class="grid grid-cols-7 text-center text-xs md:text-sm font-medium text-black/70">
      <div>Sun</div><div>Mon</div><div>Tue</div><div>Wed</div><div>Thu</div><div>Fri</div><div>Sat</div>
    </div>
  <div class="grid grid-cols-7 gap-1">
    <div *ngFor="let day of currentWeek"
         (click)="selectDay(day.iso)"
         class="border-4 rounded p-2 h-32 flex flex-col overflow-hidden cursor-pointer hover:bg-blue-100"
         [class.bg-blue-100]="day.iso === selectedDate"
         [class.ring-2]="day.iso === selectedDate"
         [class.ring-blue-500]="day.iso === selectedDate"
         [class.opacity-70]="!day.isToday">

      <!-- Número del día -->
      <div class="text-sm font-medium text-right">
        {{ day.date.getDate() }}
      </div>

      
    
    </div>
  </div>
</div>
</div>