<div class="relative">
    <div class="absolute inset-0 z-10 pointer-events-none">
    <ng-container *ngFor="let span of weekEventSpans()">
      <div class="absolute text-xs px-2 py-1 rounded truncate text-white"
           [ngClass]="span.event.color || 'bg-blue-600'"
           [style.top.px]="span.row * 22 + 70"
           [style.left.%]="(span.colStart / 7) * 100 + 1"
           [style.width.%]="((span.colEnd - span.colStart + 1)/7) * 100 -1.5"
           [style.height.px]="20"
           title="{{ span.event.title }}">
        {{ span.event.title }}
      </div>
    </ng-container>
  </div>
<div class="p-4">
  <!-- Días -->
   <div class="overflow-hidden relative">
    <div class="grid grid-cols-7 text-center text-xs mb-1 md:text-sm font-medium text-primary-blue">
      <div>Sun</div><div>Mon</div><div>Tue</div><div>Wed</div><div>Thu</div><div>Fri</div><div>Sat</div>
    </div>
  <div 
    class="grid grid-cols-7 gap-1 transition-transform duration-300 ease-out"
    [ngClass]="{
      'translate-x-0': !animating,
      '-translate-x-full': animating && direction === 'prev',
      'translate-x-full': animating && direction === 'next'
    }"
    (transitionend)="animating = false"
  >
    <div *ngFor="let day of currentWeek"
         (click)="selectDay(day.iso)"
         class="border-4 rounded p-2 min-h-32 flex flex-col overflow-visible cursor-pointer bg-primary-blue hover:bg-secondary-blue"
         [class.bg-secondary-blue]="day.iso === selectedDate"
         [class.ring-2]="day.iso === selectedDate"
         [class.ring-primary-orange]="day.iso === selectedDate"
         [class.opacity-80]="!day.isToday">

      <!-- Número del día -->
      <div class="text-sm font-medium text-right text-white">
        {{ day.date.getDate() }}
      </div>
    </div>
  </div>
</div>
